.item-card {
  display: flex;
  flex-direction: column;
  transition: all 0.5s ease-in-out;
  margin-bottom: 10px;
  position: relative;

  &:hover {
    background-color: #f5f5f5;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  }

  &__favorite-button {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1;
  }

  &__image img {
    width: 300px;
    height: 300px;
    margin-bottom: 10px;
    cursor: pointer;
    //object-fit: contain;
  }

  &__title {
    margin-bottom: 5px;
  }

  &__year {
    margin-bottom: 10px;
  }
}
