.item-list {
  background-color: #f9f9f9;

  &__title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
    text-align: center;
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
}
